## Regressão

Utilizando as bases de treinamento e testes disponivel no link:

https://archive.ics.uci.edu/ml/machine-learning-databases/00492/

Teste dois métodos de aprendizagem de máquina para identificar o que apresenta melhores resultados na previsão do volume de tráfego. Avaliem o impacto de usar validação cruzada (com 10 grupos) e split (70% para treinamento e 30% para teste). Para esse último, execute o experimento duas vezes selecionando as instâncias aleatoriamente para o treinamento e teste e avalie o impacto nos resultados.

Outras informações como dia da semana podem ser inclusas.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle
import sklearn
from sklearn import preprocessing, model_selection, svm
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import RobustScaler
import xgboost as xgb
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, mean_squared_error

In [43]:
df = pd.read_csv('metro.csv')
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [3]:
df.tail()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48199,None,283.45,0.0,0.0,75,Clouds,broken clouds,2018-09-30 19:00:00,3543
48200,None,282.76,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 20:00:00,2781
48201,None,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159
48202,None,282.09,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 22:00:00,1450
48203,None,282.12,0.0,0.0,90,Clouds,overcast clouds,2018-09-30 23:00:00,954

In [4]:
df.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48204.000000  48204.000000  48204.000000  48204.000000    48204.000000
mean     281.205870      0.334264      0.000222     49.362231     3259.818355
std       13.338232     44.789133      0.008168     39.015750     1986.860670
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1193.000000
50%      282.450000      0.000000      0.000000     64.000000     3380.000000
75%      291.806000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48204 entries, 0 to 48203
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   holiday              48204 non-null  object
 1   temp                 48204 non-null  float64
 2   rain_1h              48204 non-null  float64
 3   snow_1h              48204 non-null  float64
 4   clouds_all           48204 non-null  int64
 5   weather_main         48204 non-null  object
 6   weather_description  48204 non-null  object
 7   date_time            48204 non-null  object
 8   traffic_volume       48204 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.3+ MB

In [6]:
for column in df.columns:
    print(f'{column} info:\n{df[column].describe()}\n\n')

holiday info:
count     48204
unique       12
top        None
freq      48143
Name: holiday, dtype: object


temp info:
count    48204.000000
mean       281.205870
std         13.338232
min          0.000000
25%        272.160000
50%        282.450000
75%        291.806000
max        310.070000
Name: temp, dtype: float64


rain_1h info:
count    48204.000000
mean         0.334264
std         44.789133
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       9831.300000
Name: rain_1h, dtype: float64


snow_1h info:
count    48204.000000
mean         0.000222
std          0.008168
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.510000
Name: snow_1h, dtype: float64


clouds_all info:
count    48204.000000
mean        49.362231
std         39.015750
min          0.000000
25%          1.000000
50%         64.000000
75%         90.000000
max        100.000000
Name: clouds_all, dtype: float64


weather_main info:
count      48204
unique        11
top       Clouds
freq       15164
Name: weather_main, dtype: object


weather_description info:
count            48204
unique              38
top       sky is clear
freq             11665
Name: weather_description, dtype: object


date_time info:
count                   48204
unique                  40575
top       2013-05-19 10:00:00
freq                        6
Name: date_time, dtype: object


traffic_volume info:
count    48204.000000
mean      3259.818355
std       1986.860670
min          0.000000
25%       1193.000000
50%       3380.000000
75%       4933.000000
max       7280.000000
Name: traffic_volume, dtype: float64

In [7]:
df.isnull().sum()

holiday                0
temp                   0
rain_1h                0
snow_1h                0
clouds_all             0
weather_main           0
weather_description    0
date_time              0
traffic_volume         0
dtype: int64

In [8]:
df.duplicated().unique()

array([False,  True])

In [44]:
df.drop_duplicates(inplace = True)

df.duplicated().sum()

0

In [10]:
df.drop(columns = ['weather_description'],inplace = True)

In [11]:
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,2012-10-02 13:00:00,4918

In [45]:
issue_index = df[df['date_time'].duplicated()].index

In [46]:
issue_index

Int64Index([  179,   181,   183,   270,   271,   273,   275,   277,   278,
              280,
            ...
            48050, 48052, 48054, 48065, 48066, 48069, 48072, 48112, 48193,
            48195],
           dtype='int64', length=7612)

In [47]:
df.drop(index = issue_index,inplace = True)

In [48]:
for column in df.columns:
    print(f'{column} info:\n{df[column].describe()}\n\n')
    x = df[column].value_counts()
    print(f'Value counts: \n{x/len(df)}\n\n\n')

holiday info:
count     40575
unique       12
top        None
freq      40522
Name: holiday, dtype: object


Value counts:
None                         0.998694
Christmas Day                0.000123
State Fair                   0.000123
Columbus Day                 0.000123
New Years Day                0.000123
Washingtons Birthday         0.000123
Thanksgiving Day             0.000123
Memorial Day                 0.000123
Labor Day                    0.000123
Veterans Day                 0.000123
Independence Day             0.000123
Martin Luther King Jr Day    0.000074
Name: holiday, dtype: float64



temp info:
count    40575.000000
mean       281.316763
std         13.816618
min          0.000000
25%        271.840000
50%        282.860000
75%        292.280000
max        310.070000
Name: temp, dtype: float64


Value counts:
274.150    0.001972
276.793    0.001922
291.150    0.001503
271.150    0.001380
272.150    0.001331
             ...
284.811    0.000025
252.930    0.000025
256.690    0.000025
254.680    0.000025
253.410    0.000025
Name: temp, Length: 5841, dtype: float64



rain_1h info:
count    40575.000000
mean         0.318632
std         48.812640
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       9831.300000
Name: rain_1h, dtype: float64


Value counts:
0.00     0.949378
0.25     0.016192
0.51     0.003943
0.30     0.001848
1.02     0.001651
           ...
7.51     0.000025
5.41     0.000025
7.13     0.000025
25.32    0.000025
2.11     0.000025
Name: rain_1h, Length: 372, dtype: float64



snow_1h info:
count    40575.000000
mean         0.000117
std          0.005676
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          0.510000
Name: snow_1h, dtype: float64


Value counts:
0.00    0.999236
0.05    0.000197
0.06    0.000148
0.10    0.000074
0.13    0.000074
0.25    0.000074
0.32    0.000049
0.51    0.000049
0.08    0.000025
0.17    0.000025
0.21    0.000025
0.44    0.000025
Name: snow_1h, dtype: float64



clouds_all info:
count    40575.000000
mean        44.199162
std         38.683447
min          0.000000
25%          1.000000
50%         40.000000
75%         90.000000
max        100.000000
Name: clouds_all, dtype: float64


Value counts:
1      0.298534
90     0.271596
75     0.110881
40     0.091115
0      0.048404
20     0.043795
64     0.033173
5      0.026322
92     0.015354
12     0.006556
8      0.006506
32     0.004387
24     0.004239
48     0.004116
80     0.004091
88     0.003993
36     0.003993
56     0.003919
68     0.003919
44     0.003401
76     0.003352
100    0.001824
99     0.000986
93     0.000641
98     0.000518
59     0.000394
85     0.000345
89     0.000320
81     0.000271
87     0.000271
46     0.000222
97     0.000197
91     0.000197
77     0.000173
57     0.000173
96     0.000148
6      0.000148
63     0.000123
83     0.000123
11     0.000123
16     0.000123
58     0.000099
70     0.000099
3      0.000074
4      0.000074
13     0.000074
72     0.000074
50     0.000049
62     0.000049
54     0.000049
67     0.000049
38     0.000049
86     0.000049
2      0.000049
25     0.000049
42     0.000049
17     0.000025
78     0.000025
60     0.000025
84     0.000025
Name: clouds_all, dtype: float64



weather_main info:
count      40575
unique        11
top       Clouds
freq       15123
Name: weather_main, dtype: object


Value counts:
Clouds          0.372717
Clear           0.329415
Rain            0.117535
Mist            0.075638
Snow            0.056611
Haze            0.018879
Drizzle         0.012693
Thunderstorm    0.011165
Fog             0.004954
Smoke           0.000370
Squall          0.000025
Name: weather_main, dtype: float64



weather_description info:
count            40575
unique              35
top       sky is clear
freq             11642
Name: weather_description, dtype: object


Value counts:
sky is clear                           0.286925
overcast clouds                        0.125003
broken clouds                          0.114603
scattered clouds                       0.085052
mist                                   0.075638
light rain                             0.069772
few clouds                             0.048059
Sky is Clear                           0.042489
light snow                             0.039137
moderate rain                          0.033986
haze                                   0.018879
heavy snow                             0.012323
heavy intensity rain                   0.010055
light intensity drizzle                0.008872
proximity thunderstorm                 0.008355
fog                                    0.004954
snow                                   0.004732
drizzle                                0.003401
proximity shower rain                  0.002957
thunderstorm                           0.001454
thunderstorm with light rain           0.000567
very heavy rain                        0.000444
heavy intensity drizzle                0.000419
smoke                                  0.000370
thunderstorm with heavy rain           0.000345
light intensity shower rain            0.000296
light shower snow                      0.000271
proximity thunderstorm with rain       0.000222
thunderstorm with rain                 0.000123
thunderstorm with light drizzle        0.000074
light rain and snow                    0.000074
sleet                                  0.000074
SQUALLS                                0.000025
freezing rain                          0.000025
proximity thunderstorm with drizzle    0.000025
Name: weather_description, dtype: float64



date_time info:
count                   40575
unique                  40575
top       2013-05-16 17:00:00
freq                        1
Name: date_time, dtype: object


Value counts:
2013-05-16 17:00:00    0.000025
2013-06-23 08:00:00    0.000025
2017-04-23 00:00:00    0.000025
2012-12-18 23:00:00    0.000025
2017-09-21 18:00:00    0.000025
                         ...
2014-01-12 16:00:00    0.000025
2017-02-09 02:00:00    0.000025
2016-07-12 01:00:00    0.000025
2018-08-26 12:00:00    0.000025
2013-11-08 11:00:00    0.000025
Name: date_time, Length: 40575, dtype: float64



traffic_volume info:
count    40575.000000
mean      3290.650474
std       1984.772909
min          0.000000
25%       1248.500000
50%       3427.000000
75%       4952.000000
max       7280.000000
Name: traffic_volume, dtype: float64


Value counts:
356     0.000986
353     0.000937
373     0.000937
340     0.000912
369     0.000887
          ...
3995    0.000025
7057    0.000025
2223    0.000025
6929    0.000025
6969    0.000025
Name: traffic_volume, Length: 6704, dtype: float64

In [49]:
df['date_time'] = pd.to_datetime(df['date_time'],format='%Y-%m-%d %H:%M:%S')
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [50]:
df.corr().style.background_gradient(cmap='coolwarm')

In [62]:
df.drop(columns = ['holiday','rain_1h','snow_1h'],inplace = True)

for column in df.columns:
    print(f'{column} info:\n{df[column].describe()}\n\n')
    x = df[column].value_counts()
    print(f'Value counts: \n{x/len(df)}\n\n\n')

temp info:
count    40575.000000
mean       281.316763
std         13.816618
min          0.000000
25%        271.840000
50%        282.860000
75%        292.280000
max        310.070000
Name: temp, dtype: float64


Value counts:
274.150    0.001972
276.793    0.001922
291.150    0.001503
271.150    0.001380
272.150    0.001331
             ...
284.811    0.000025
252.930    0.000025
256.690    0.000025
254.680    0.000025
253.410    0.000025
Name: temp, Length: 5841, dtype: float64



clouds_all info:
count    40575.000000
mean        44.199162
std         38.683447
min          0.000000
25%          1.000000
50%         40.000000
75%         90.000000
max        100.000000
Name: clouds_all, dtype: float64


Value counts:
1      0.298534
90     0.271596
75     0.110881
40     0.091115
0      0.048404
20     0.043795
64     0.033173
5      0.026322
92     0.015354
12     0.006556
8      0.006506
32     0.004387
24     0.004239
48     0.004116
80     0.004091
88     0.003993
36     0.003993
56     0.003919
68     0.003919
44     0.003401
76     0.003352
100    0.001824
99     0.000986
93     0.000641
98     0.000518
59     0.000394
85     0.000345
89     0.000320
81     0.000271
87     0.000271
46     0.000222
97     0.000197
91     0.000197
77     0.000173
57     0.000173
96     0.000148
6      0.000148
63     0.000123
83     0.000123
11     0.000123
16     0.000123
58     0.000099
70     0.000099
3      0.000074
4      0.000074
13     0.000074
72     0.000074
50     0.000049
62     0.000049
54     0.000049
67     0.000049
38     0.000049
86     0.000049
2      0.000049
25     0.000049
42     0.000049
17     0.000025
78     0.000025
60     0.000025
84     0.000025
Name: clouds_all, dtype: float64



weather_main info:
count    40575.000000
mean         2.139224
std          2.660061
min          0.000000
25%          0.000000
50%          1.000000
75%          5.000000
max         10.000000
Name: weather_main, dtype: float64


Value counts:
1     0.372717
0     0.329415
6     0.117535
5     0.075638
8     0.056611
4     0.018879
2     0.012693
10    0.011165
3     0.004954
7     0.000370
9     0.000025
Name: weather_main, dtype: float64



weather_description info:
count    40575.000000
mean        16.451559
std          8.657243
min          0.000000
25%         10.000000
50%         19.000000
75%         25.000000
max         34.000000
Name: weather_description, dtype: float64


Value counts:
25    0.286925
19    0.125003
2     0.114603
24    0.085052
17    0.075638
13    0.069772
4     0.048059
1     0.042489
16    0.039137
18    0.033986
7     0.018879
10    0.012323
9     0.010055
11    0.008872
21    0.008355
5     0.004954
28    0.004732
3     0.003401
20    0.002957
29    0.001454
32    0.000567
34    0.000444
8     0.000419
27    0.000370
30    0.000345
12    0.000296
15    0.000271
23    0.000222
33    0.000123
31    0.000074
14    0.000074
26    0.000074
6     0.000025
22    0.000025
0     0.000025
Name: weather_description, dtype: float64



traffic_volume info:
count    40575.000000
mean      3290.650474
std       1984.772909
min          0.000000
25%       1248.500000
50%       3427.000000
75%       4952.000000
max       7280.000000
Name: traffic_volume, dtype: float64


Value counts:
356     0.000986
353     0.000937
373     0.000937
340     0.000912
369     0.000887
          ...
3995    0.000025
7057    0.000025
2223    0.000025
6929    0.000025
6969    0.000025
Name: traffic_volume, Length: 6704, dtype: float64

In [51]:
le = preprocessing.LabelEncoder()

for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = le.fit_transform(df[column])
        
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,7,288.28,0.0,0.0,40,1,24,2012-10-02 09:00:00,5545
1,7,289.36,0.0,0.0,75,1,2,2012-10-02 10:00:00,4516
2,7,289.58,0.0,0.0,90,1,19,2012-10-02 11:00:00,4767
3,7,290.13,0.0,0.0,90,1,19,2012-10-02 12:00:00,5026
4,7,291.14,0.0,0.0,75,1,2,2012-10-02 13:00:00,4918

In [52]:
df_corr = df.corr()

In [53]:
df_corr.style.background_gradient(cmap='coolwarm')

In [54]:
df.set_index(df['date_time'],inplace = True)
df.drop(columns = ['date_time'],inplace = True)
df.sort_values(by = 'date_time', ascending = True, inplace = True)
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume
date_time,,,,,,,,
2012-10-02 09:00:00,7,288.28,0.0,0.0,40,1,24,5545
2012-10-02 10:00:00,7,289.36,0.0,0.0,75,1,2,4516
2012-10-02 11:00:00,7,289.58,0.0,0.0,90,1,19,4767
2012-10-02 12:00:00,7,290.13,0.0,0.0,90,1,19,5026
2012-10-02 13:00:00,7,291.14,0.0,0.0,75,1,2,4918

In [23]:
'''df.sort_index(inplace = True)
df['traffic_volume'].rolling(4000).mean().plot(figsize=(8,8))'''

"df.sort_index(inplace = True)\ndf['traffic_volume'].rolling(4000).mean().plot(figsize=(8,8))"

In [63]:
df.head()

,temp,clouds_all,weather_main,weather_description,traffic_volume
date_time,,,,,
2012-10-02 09:00:00,288.28,40,1,24,5545
2012-10-02 10:00:00,289.36,75,1,2,4516
2012-10-02 11:00:00,289.58,90,1,19,4767
2012-10-02 12:00:00,290.13,90,1,19,5026
2012-10-02 13:00:00,291.14,75,1,2,4918

In [64]:

X = df.drop('traffic_volume', axis = 1).values
X = preprocessing.scale(X)
y = df['traffic_volume'].values

print(f'X:{X}\n\n\ny:{y}')

X:[[ 0.50398167 -0.10855325 -0.42827505  0.87193277]
 [ 0.58214938  0.79623767 -0.42827505 -1.66932318]
 [ 0.59807243  1.1840052  -0.42827505  0.2943746 ]
 ...
 [ 0.10228654  1.1840052   2.95514791  0.52539787]
 [ 0.05596493  1.1840052  -0.42827505  0.2943746 ]
 [ 0.05813626  1.1840052  -0.42827505  0.2943746 ]]


y:[5545 4516 4767 ... 2159 1450  954]

## Train Test Split (0.7,0.3)

In [68]:
xgb_model = xgb.XGBRegressor()
clf = GridSearchCV(xgb_model,
                   {'max_depth': [2,4,6],
                    'n_estimators': [50,100,200]}, verbose=1)
clf.fit(X, y)

print(clf.best_score_)
print(clf.best_params_)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

0.07101454208962128
{'max_depth': 2, 'n_estimators': 50}

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:   14.4s finished

In [67]:
accuracy = clf.score(X_test, y_test) # Teste

print(f'Squared Error: {round(accuracy*100, 3)}%')

Squared Error: 7.966%

## Cross Validation

In [65]:
rng = np.random.RandomState(31337)

kf = KFold(n_splits=10, shuffle=True, random_state=rng)

sme = []
for train_index, test_index in kf.split(X):
    xgb_model = xgb.XGBRegressor().fit(X[train_index], y[train_index])
    predictions = xgb_model.predict(X[test_index])
    actuals = y[test_index]
    mse.append(mean_squared_error(actuals, predictions))

print(f'mse list :{mse}\navg mse:{mean(mse)}')

[8.52548096185397,
 8.334576539113037,
 7.468091117812725,
 8.035840713759779,
 7.987176889192704,
 8.136824157787236,
 9.636363306530471,
 8.269014471782965,
 8.863007289834822,
 9.387610680633497]

In [58]:
results = model_selection.cross_val_score(xgb_model, X, y, cv=kf)
print("Accuracy: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 8.92% (0.88%)